<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top" id="footer">
    <div class="col-md-4 d-flex align-items-center">
        <span class="ms-3 mb-3 mb-md-0 text-body-secondary">&copy; @DateTime.Now.Year.ToString(), Teplička nad Váhom 013 01</span>
   </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled flex-row d-md-flex me-3">
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <span class="ms-3 mb-3 mb-md-0">O nás</span>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <span class="ms-3 mb-3 mb-md-0 ">Kontakt</span>
            </a>
        </li>
  </ul>
</footer>