@inherits LayoutComponentBase

<PageTitle>ObecnaKniznica</PageTitle>

<div id="rootContainer">
    <main>
        <NavBar />
        <div id="web-content">
            @Body
        </div>
        <Footer/>
    </main>
</div>
