<nav id="navHeader" class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a id="homeIcon" class="navbar-brand itemOfNavbar" href="">
            <i class="homeButtonIcon bi bi-book"></i>
            <span class="homeButtonName"> Obecná knižnica </span>
        </a>
        <button id="hamburgerBtn" class="navbar-toggler collapsed toglerik" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapsibleContent" aria-controls="navbarCollapsibleContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="togglerIcon navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapsibleContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            
                <li class="nav-item dropdown"> <!-- zobrazit, len ak je admin-->
                    <a class="itemOfNavbar nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Katalóg</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="catalogue">Zobraziť knihy</a></li>
                        <li><a class="dropdown-item" href="add-new-book">Pridať knihu</a></li>
                        <!--                        <li><hr class="dropdown-divider"></li>-->
                    </ul>
                </li>
                <!-- inak zobraz toto--->
                
                <li class="nav-item dropdown">
                    <a class="itemOfNavbar nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Zobraziť príspevky</a></li>
                        <li><a class="dropdown-item" href="">Pridať nový príspevok</a></li>
                        <!--                        <li><hr class="dropdown-divider"></li>-->
                    </ul>
                </li>
            </ul>
           <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-item itemOfNavbar nav-link" href="about">O nás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item itemOfNavbar nav-link" href="contacts">Kontakt</a>
                </li>
                <!-- ak je prihlaseny-->
               @* <li class="nav-item dropdown dropstart">
                    <a class="itemOfNavbar nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Moje rezervácie</a></li>
                        <li><a class="dropdown-item" href="">Odhlásiť sa</a></li>
                    </ul>
                </li>*@
                <!--inak-->
                <li class="nav-item">
                    <a class="nav-item itemOfNavbar nav-link login" href="">Prihlásenie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
