<div class="row justify-content-center">
    <span class="workingHours"> Otváracie hodiny</span>
</div>
<div class="row justify-content-center">
    <table id="tableHours" class="tableOpeningHours">
        <tr>
            <td>Pondelok</td>
            <td>07:00 - 17:00</td>
        </tr>
        <tr>
            <td>Utorok</td>
            <td>07:00 - 17:00</td>
        </tr>
        <tr>
            <td>Streda</td>
            <td>07:00 - 19:00</td>
        </tr>
        <tr>
            <td>Štvrtok</td>
            <td>07:00 - 17:00</td>
        </tr>
        <tr>
            <td>Piatok</td>
            <td>07:00 - 19:00</td>
        </tr>
        <tr>
            <td>Sobota</td>
            <td>09:00 - 13:00</td>
        </tr>
    </table>
</div>

@inject IJSRuntime JS
@code {


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            JS.InvokeVoidAsync("updateWorkingHours");

        return base.OnAfterRenderAsync(firstRender);
    }
}