.invalid {
    color: var(--myVar-invalid);
}

.valid {
    color: var(--myVar-valid)
}

.available-bg {
    background-color: var(--myVar-available);
}

.unavailable-bg {
    background-color: var(--myVar-unavailable);
}

.btn-primary {
    background-color: var(--myVar-customForegroundColor);
    color: var(--myVar-creme);
}

.btn-danger {
    background-color: var(--myVar-invalid);
    color: var(--myVar-creme);
}

.btn-warning:hover {
    background-color: var(--myVar-alert);
    color: var(--myVar-creme);
}

.alert {
    color: var(--myVar-creme);
}

.normal {
    color: black;
}

.primary-color {
    color: var(--myVar-customForegroundColor);
}

.withLink {
    color: var(--myVar-customForegroundColor);
    transform: translate(5px, -9px);
}

.withLink:hover {
    color: var(--myVar-onHover);
    text-decoration: underline;
    cursor: pointer;
}