.invalid {
    color: var(--myVar-invalid);
}

.valid {
    color: var(--myVar-valid)
}

.alert {
    color: var(--myVar-alert);
}

.normal {
    color: black;
}

.primary-color {
    color: var(--myVar-customForegroundColor);
}

.withLink {
    color: var(--myVar-customForegroundColor);
    transform: translate(5px, -9px);
}

.withLink:hover {
    color: var(--myVar-onHover);
    text-decoration: underline;
    cursor: pointer;
}
