:root {
    --myVar-customForegroundColor: #084886;
    --myVar-customBackgroundColor: rgba(123, 255, 108, 0.93);
    --myVar-backgroundColorOnHover: rgba(215, 248, 175, 0.29);
    --myVar-foregroundColorOnHover: #1966be;
    --myVar-greyOfBackground: rgba(1, 2, 0, 0.05);
    --myVar-greyOfBorders: #867f7f;
    --myVar-creme: rgb(253, 253, 249);
    --myVar-available: forestgreen;
    --myVar-unavailable: lightgrey;
    --myVar-onHover: #86084b;
    --myVar-alert: #866208FF;
    --myVar-valid: #2c9175;
    --myVar-invalid: #af0011;
    --myVar-invisible: rgba(42, 210, 20, 0.02);
    --myVar-footerHeight: 4rem;
}
