@page "/catalogue"
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Katalóg kníh</PageTitle>

<div class="container-fluid">
	<div class="row justify-content-center my-3">
		<div class="col">
			<p>Katalóg kníh</p>
		</div>
	</div>

	@if (Books is null)
	{
		<div class="spinner"></div>
		<h4><bold>Načítavajú sa záznamy...</bold></h4>
	}
	else if (ErrorMessage is not null)
	{
		<h4>CHYBA: @ErrorMessage</h4>
	}
	else
	{
		if (Books.Count == 0)
		{
			<h4> Neexistujú žiadne záznamy. </h4>
		}
		else
		{
			@foreach (Book book in Books)
			{
				<div class="row justify-content-center my-3">
					<div class="col">
						<BookInsight Book="@book" OnBookDeleted="RemoveBookFromCatalogue"/>
					</div>
				</div>
			}
		}
	}
	

	<div class="pb-1"> </div>
</div>

@inject NavigationManager navManager
@code {

	List<Book>? Books { get; set; }
	public string? ErrorMessage { get; set; }
	public string? JsonApiResultString { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var client = _httpClientFactory.CreateClient("LibraryResources");
		try
		{
			Books = await client.GetFromJsonAsync<List<Book>>("api/book/");
			ErrorMessage = null;
		}
		catch (Exception e)
		{
			ErrorMessage = "Chyba pri získavaní kníh. Detail chyby: " + e.Message;
		}
		await base.OnInitializedAsync();
	}

	private void RemoveBookFromCatalogue(int bookId)
	{
		if (Books is null | Books!.Count() == 0)
			return;

		for (int i = 0; i < Books!.Count(); i++)
		{
			if (Books!.ElementAt(i).Id == bookId)
			{
				Books!.RemoveAt(i);
				break;
			}
		}
	}
}