@page "/about"

<PageTitle>O nás</PageTitle>

<div id="aboutWrapper">
	<h1 class="primary-color ps-5 py-3">Kto sme?</h1>
	<div class="container-fluid">
		<h5 class="ps-5 secondary-color"> 
			Sme zanietená skupinka mladých ľudí, ktorá miluje knihy.
		</h5>

		<p class="ps-5 pt-3 primary-color">
			Preto sme sa rozhodli, že naše hobby budeme robiť naplno tak, aby to mohlo priniesť úžitok aj druhým.
		</p>

		<p class="ps-5 pt-2 primary-color">
			Nebojte sa prísť a nájsť si niečo zo svojho žánru. Naša ponuka kníh je v skutku pestrá! :)
		</p>
	</div>
</div>