@page "/contacts"

<PageTitle>Kontakt</PageTitle>

<h1 class="primary-color pt-2 ps-3">Kontaktuje nás</h1>

<div class="container">
	<div class="row justify-content-center">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2225.9863447897233!2d18.79873933847307!3d49.22362468608032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47145bda73d2a10b%3A0x25ee9b794074f061!2zT2JlY27DvSDDunJhZA!5e0!3m2!1ssk!2ssk!4v1715755800249!5m2!1ssk!2ssk" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</div>